@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    --color-primary: #f24e1e;
    --color-secondary: #eb410d;
    --color-dark: #000000;
    --color-light: #ffffff;
  }
  @import "./light.css";
}

.authPage {
  background-image: url("../public/images/auth/authBackground.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.topNav-serachBar {
}
.topNav-serachBar .ant-input-affix-wrapper {
  border-color: var(--color-primary);
}

.topNav-serachBar .ant-btn {
  border-color: var(--color-primary) !important;
  background-color: var(--color-primary) !important;
  padding: 10px;
}
.topNav-serachBar .ant-btn svg{
  color: var(--color-light) !important   ;
}